<!DOCTYPE html>
<html>
	<head>
		<title>Edit Record</title>

		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
  		<script src="verify.js"></script>
  		<script src="gideonApp.js"></script>
  		<script src="updateRecordCtrl.js"></script>
  		<!--script src="ripple.js"></script-->

		<link rel="manifest" href="/site.webmanifest">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="SiteStyle.css">
		<link rel="stylesheet" type="text/css" href="RecordStyle.css">
	</head>
	<body ng-app="gideonApp">
		<div ng-controller="header">
			<div ng-include="'Header.html'"></div>
		</div>

		<div class="exterior" ng-controller="updateRecordCtrl">
			<md-button id="backButton" onclick="location.href='RecordList.html'">Back to Record List</md-button>
			<md-button class="md-raised md-warn" id="deleteButton" ng-click="removeRecord()">Delete Record</md-button>

			<h1>Edit Record</h1>
			<!--Form for updating records that are already in the system-->
			<form name="form">
				<div class="columnContainer" id="editSingleRow">
					<div class="column" style="width:100%">
					<!--Displays list of all current students upon selection, with a custom filter-->
						<md-autocomplete class="md-block" required md-require-match id="clientSelect" md-floating-label="Student" md-input-name="client" md-selected-item="client" md-search-text="clientSearch" md-items="item in filterStudents(clientSearch)" md-item-text="item.name">
							<md-item-template>
								<span md-highlight-text="clientSearch">{{item.name}}</span>
							</md-item-template>
							<div ng-messages="form.client.$error">
								<div ng-message="required">Student is required.</div>
								<div ng-message="md-require-match">Please select an existing student.</div>
							</div>
						</md-autocomplete>
					</div>
				</div>
	          	<br><br>

	          	<div class="columnContainer" id="editRow">
		  			<!--Displays all possible book categories-->
		  			<div class="threeColumn">
						<md-input-container class="md-block">
							<label>Book Category</label>
							<md-select id="category" name="category" ng-model="record.category" ng-change="getSubcategories()" required>
								<md-option ng-repeat="x in categories" ng-value="x">{{x}}</md-option>
							</md-select>
							<div ng-messages="form.category.$error">
								<div ng-message="required">All book details are required.</div>
							</div>
						</md-input-container>
					</div>

					<!--Displays all subcategories for a selected category-->
					<div class="threeColumn">
						<md-input-container class="md-block">
							<label>Book Subcategory</label>
							<md-select id="subcategory" name="subcategory" ng-model="record.subcategory" ng-change="getTitles()" required>
								<md-option ng-repeat="y in subcategories" ng-value="y" ng-disabled="y.startsWith('Select')">{{y}}</option>
							</md-select>
							<div ng-messages="form.subcategory.$error">
								<div ng-message="required">All book details are required.</div>
							</div>
						</md-input-container>
					</div>

					<!--Displays all book titles for a given subcategory-->
					<div class="threeColumn">
						<md-input-container class="md-block">
							<label>Book Title</label>
							<md-select id="title" name="title" ng-model="record.title" ng-change="didSetBook()" required>
								<md-option ng-repeat="z in titles" ng-value="z.title" ng-disabled="z.display.startsWith('Select')">{{z.display}}</option>
							</md-select>
							<div ng-messages="form.category.$error">
								<div ng-message="required">All book details are required.</div>
							</div>
						</md-input-container>
					</div>
				</div>
				<br><br>

				<div class="columnContainer" id="editRow">
					<!--Simple datePicker for instructors to enter the startDate-->
					<div class="twoColumn">
						<md-input-container class="md-block">
							<label>Start Date</label>
							<md-datepicker name="startDate" id="dateSelect" ng-model="record.startDate" required></md-datepicker>
							<div ng-messages="form.startDate.$error">
								<div ng-message="required">Start date is required.</div>
								<div ng-message="valid">This date is invalid.</div>
							</div>
						</md-input-container>
					</div>

					<!--Allows user to enter the ending date-->
					<div class="twoColumn">
						<md-input-container class="md-block">
							<label>End Date</label>
							<md-datepicker name="endDate" id="dateSelect" md-min-date="record.startDate" ng-model="record.endDate"></md-datepicker>
							<div ng-messages="form.startDate.$error">
								<div ng-message="mindate">The end date must come after the start date.</div>
								<div ng-message="valid">This date is invalid.</div>
							</div>
						</md-input-container>
					</div>
				</div>
				<br><br>

				<div class="columnContainer" id="editSingleRow">
					<!--Simple number picker for instructors to enter the repetition number-->
					<div id="rep">
						<md-input-container>
							<label>Repetition</label>
							<input type="number" name="reps" min="1" max="5" ng-model="record.rep" required>
							<div ng-messages="form.reps.$error">
								<div ng-message="required">Repetition number is required.</div>
								<div ng-message="number">Repetition must be a number.</div>
								<div ng-message-exp="['min', 'max']">Repetition number must be between 1 and 5.</div>
							</div>
						</md-input-container>
					</div>

					<!--Simple number picker for instructors to enter the test time-->
					<div id="testTime" ng-show="record.test">
						<md-input-container>
							<label>Test Time</label>
							<input type="number" name="testTime" min="0" max="1000" ng-model="record.testTime">
							<div ng-messages="form.testTime.$error">
								<div ng-message="number">Test time must be a number.</div>
								<div ng-message-exp="['min', 'max']">Test time must be between 0 and 1000.</div>
							</div>
						</md-input-container>
					</div>

					<!--Simple number picker for instructors to enter the number of mistakes-->	
					<div id="mistakes" ng-show="record.test">
						<md-input-container>
							<label>Mistakes</label>
							<input type="number" name="mistakes" min="0" max="1000" ng-model="record.mistakes">
							<div ng-messages="form.mistakes.$error">
								<div ng-message="number">Mistakes must be a number.</div>
								<div ng-message-exp="['min', 'max']">Mistakes must be between 0 and 1000.</div>
							</div>
						</md-input-container>
					</div>
				</div>
				<br><br>

				<md-input-container>
					<label>Notes</label>
					<textarea rows="3" name="notes" id="notes" ng-model="record.notes"></textarea>
				</md-input-container>
				<br>

				<!--Submits form data-->
				<md-button big class="md-accent md-raised" ng-click="editRecord()">Submit</md-button>
			</form>
			<br><br>
			<span ng-class="{'errorText':formStatus.id == 0, 'successText':formStatus.id == 1}">{{formStatus.text}}</span>
		</div>
	</body>
</html>