<!DOCTYPE html>
<html>
	<head>
		<title>Edit Student</title>

		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
  		<script src="verify.js"></script>
  		<script src="gideonApp.js"></script>
  		<script src="editStudentCtrl.js"></script>
		<!--script src="ripple.js"></script-->

		<link rel="manifest" href="/site.webmanifest">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="SiteStyle.css">
		<link rel="stylesheet" type="text/css" href="RecordStyle.css">
	</head>
	<body ng-app="gideonApp">
		<div ng-controller="header">
			<div ng-include="'Header.html'"></div>
		</div>

		<div class="exterior" ng-controller="editStudentCtrl">
			<md-button id="backButton" onclick="location.href='StudentList.html'">Back to Student List</md-button>
			<md-button class="md-raised md-warn" id="deleteButton" ng-click="removeStudent()">Delete Student</md-button>

			<h1>Edit {{student.client}}</h1>
			<!--Form used for editing a student in the database-->
			<form name="form">
				<div class="columnContainer" id="editRow">
					<!--Name input, required field-->
					<div class="twoColumn">
						<md-input-container class="inputWrapperBig">
							<label>Full Name</label>
							<input md-select-on-focus type="text" name="client" ng-model="student.client" required>
							<div ng-messages="form.client.$error">
								<div ng-message="required">Name is required.</div>
							</div>
						</md-input-container>
					</div>

					<!--Email input, no required format-->
					<div class="twoColumn">
						<md-input-container class="inputWrapperBig">
							<label>Email</label>
							<input md-select-on-focus type="email" ng-model="student.email">
						</md-input-container>
					</div>
				</div><br>

				<div class="columnContainer" id="editRow">
					<!--Grade selection-->
					<div class="threeColumn">
						<md-input-container class="inputWrapperBig">
							<label>Grade</label>
							<md-select id="gradeBox" name="grade" ng-model="student.grade" required>
								<md-option ng-repeat="g in grades" mg-value="g">{{g.split(' ')[0]}}</md-option>
							</md-select>
							<div ng-messages="form.grade.$error">
								<div ng-message="required">Grade is required.</div>
							</div>
						</md-input-container>
					</div>

					<!--Phone input, no required format-->
					<div class="threeColumn">
						<md-input-container class="inputWrapperBig">
							<label>Phone</label>
							<input md-select-on-focus type="text" ng-model="student.phone">
						</md-input-container>
					</div>

					<!--Gender selection-->
					<div class="threeColumn">
						<md-input-container class="inputWrapperBig">
							<label>Gender</label>
							<md-select id="genderBox" name="gender" ng-model="student.gender" required>
								<md-option ng-repeat="g in genders" ng-value="g">{{g}}</md-option>
							</md-select>
							<div ng-messages="form.gender.$error">
								<div ng-message="required">Gender is required.</div>
							</div>
						</md-input-container>
					</div>
				</div><br>
				
				<div class="columnContainer" id="editRow">
					<!--Address input, no required format-->
					<div class="twoColumn">
						<md-input-container class="inputWrapperBig">
							<label>Address</label>
							<input md-select-on-focus type="text" ng-model="student.address">
						</md-input-container>
					</div>

					<!--Current passes input-->
					<div class="twoColumn">
						<md-input-container class="inputWrapperBig">
							<label>Current Passes</label>
							<input md-select-on-focus type="text" ng-model="student.currentPasses">
						</md-input-container>
					</div>
				</div><br><br>

				<!--Submit button to perform the update-->
				<md-button big class="md-accent md-raised" ng-click="updateStudent()">Submit</md-button>
			</form>
			<br><br>
			<span ng-class="{'errorText':formStatus.id == 0, 'successText':formStatus.id == 1}">{{formStatus.text}}</span>
		</div>
	</body>
</html>