body {
	min-height: 100%;
}

.exterior {
	padding: 20px;
	height: 100vh;
}

#logo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 40%;
  	height: auto;
}

#loginBlock {
	position: relative;
	width: 90%;
	left: 5%;
}

button {
	margin: 0;
}

md-whiteframe {
	background: white;
	padding: 50px 10px;
	position: absolute;
	width: 50%;
	max-width: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);
}