<!DOCTYPE html>
<html>
	<head>
		<title>Line Chart</title>

		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
		<script src="apptest.js"></script>
		<script src="ripple.js"></script>

		<link rel="manifest" href="/site.webmanifest">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="SiteStyle.css">
		<link rel="stylesheet" type="text/css" href="LineChart.css">
	</head>
	<body>
		<br>
		<!--Containing essentially a form for selected chart specifications-->
		<div class="exterior" ng-app = "gideonApp" ng-controller = "chartCtrl">
			<div ng-repeat = "s in students">
				<h1>Progress Chart for {{s.studentName}}</h1>
				<br>

				<div id = "expandableContainer" ng-class = "{'collapsedContent':!s.expanded, 'expandedContent':s.expanded}">
				<form name = "s.form">
					<div class="columnContainer">
						<!--Allows user to select specific category to graph based on what student has-->
						<div class="threeColumn">
						<label for="category">Category</label><br>
							<div class="inputWrapperBig">
								<select white big id = "category" name = "category" ng-model = "s.selectedCategory" required ng-options = "y for y in s.categoriesOfStudent" ng-change = "s.getReps()"></select>
								<div class="invalidContainer" ng-class="{'invalid':s.form.category.$touched && s.form.category.$invalid}"></div>
							</div>
							<span class="errorText" ng-show="s.form.category.$touched && s.form.category.$invalid">Category is required.</span>
							<br>
						</div>
					
						<!--Allows user to select month specificatons for the graph up to 5 years ago-->
						<div class="threeColumn">
	 					<label for="months">Time Range</label><br>
							<div class="inputWrapperBig">
								<input white type = "number" id = "months" name = "months" value = "12" ng-model = "s.months" min = "1" max = "60" required>
								months ago to
								<input white type = "number" id = "months2" name = "months2" value = "12" ng-model = "s.months2" min = "0" max = "{{s.months-1}}" required>
								months ago
								<div ng-show="s.months2==0">
									Project into the future by: 
									<input white type = "number" id = "monthsF" name = "monthsF" value = "12" ng-model = "s.monthsF" max = "12"> months
								</div>
								<div class="invalidContainer" ng-class="{'invalid':s.form.months.$touched && s.form.months2.$touched && (s.form.months.$invalid || s.form.months2.$invalid || s.form.monthsF.$invalid)}"></div>
							</div>
							<br><br>
							<span class="errorText" ng-show="s.form.months.$touched && s.form.months2.$touched && (s.form.months.$invalid || s.form.months2.$invalid || s.form.monthsF.$invalid)">
								<span ng-show="s.form.months.$error.required || s.form.months2.$error.required">Months are required.</span>
								<span ng-show="s.form.months.$error.min || s.form.months.$error.max || s.form.months2.$error.min || s.form.months2.$error.max">Month values must be between 0 and 60, and the second value must be earlier than the first.</span>
								<span ng-show="s.form.monthsF.$error.max">You can only project the graph one year into the future.</span>
							</span>
	 					</div>

						<!--Allows user to select which specific repetitions to display-->
						<div class="threeColumn">
						<label for="reptitions">Included repetitions</label><br>
							<div class="inputWrapperBig">
								<select white big id = "repNumbers" name = "repNumbers" ng-model = "s.selectedRep" required ng-options = "x for x in s.repOptions"></select>
								<div class="invalidContainer" ng-class="{'invalid':s.form.repNumbers.$touched && s.form.repNumbers.$invalid}"></div>
							</div>
							<span class="errorText" ng-show="s.form.repNumbers.$touched && s.form.repNumbers.$invalid">Repetitions are required.</span>
							<br>
						</div>
					</div><br>

					<!--Button to generate chart and submit all data-->
					<button big type="submit" ng-click="s.generateChart()">Generate Chart</button>
				</form>
				</div>

				<!--Error message in case no data is retrieved-->
				<span ng-class="{'errorText':s.formStatus == 0, 'successText':s.formStatus == 1}">{{s.formStatusText}}</span>
				<br><br>

				
				<div ng-class="{'logoOff':!s.logoDisplay, 'logoOn':s.logoDisplay}">
					<img id = "logo" src = "img/gideon-logo.jpg" height = "60" width = "160" ng-hide="s.errorMessage">
					<button id = "invisibleButton" ng-click="expanded=!s.expanded">(show/hide form)</button>
				</div>

				<!--HTML element for the generated chart-->
				<div class = "exterior" id = "chartspecs">
					<canvas id = "lineChart" ng-hide="s.errorMessage"></canvas>
				</div>
			</div>
		</div>

		<div id = "footer">&nbsp;</div>
	</body>
</html>