<!DOCTYPE html>
<html>
	<head>
		<title>Line Chart</title>

		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
		<script src="app.js"></script>
		<script src="ripple.js"></script>

		<link rel="manifest" href="/site.webmanifest">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="SiteStyle.css">
		<link rel="stylesheet" type="text/css" href="LineChart.css">
	</head>
	<body>
		<br>
		<!--Containing essentially a form for selected chart specifications-->
		<div class="exterior" ng-app = "gideonApp" ng-controller = "chartCtrl">

			<h1>Progress Chart for {{studentName}}</h1>
			<br>

			<div id = "expandableContainer" ng-class = "{'collapsedContent':!expanded, 'expandedContent':expanded}">
			<form name = "form">
				<div class="columnContainer">
					<!--Allows user to select specific category to graph based on what student has-->
					<div class="threeColumn">
					<label for="category">Category</label><br>
						<div class="inputWrapperBig">
							<select white big id = "category" name = "category" ng-model = "selectedCategory" required ng-options = "y for y in categoriesOfStudent" ng-change = "getReps()"></select>
							<div class="invalidContainer" ng-class="{'invalid':form.category.$touched && form.category.$invalid}"></div>
						</div>
						<span class="errorText" ng-show="form.category.$touched && form.category.$invalid">Category is required.</span>
					</div>
				
					<!--Allows user to select month specificatons for the graph up to 5 years ago-->
					<div class="threeColumn">
					<label for="months">Time Range</label><br>
						<div id="timeText">
							<div class="inputWrapperBig">
								<select white id = "month1" name = "month1" ng-model = "date1.month" ng-options = "v.num as v.name for v in months" min = "1" max = "12" required ng-change = "datesCustomValidate()">
								<input white type = "number" id = "year1" name = "year1" ng-model = "date1.year" required ng-change = "datesCustomValidate()">
								to<br>
								<select white id = "month2" name = "month2" ng-model = "date2.month" ng-options = "v.num as v.name for v in months" min = "1" max = "12" required ng-change = "datesCustomValidate()">
								<input white type = "number" id = "year2" name = "year2" ng-model = "date2.year" required ng-change = "datesCustomValidate()">
								<div class="invalidContainer" ng-class="{'invalid':(form.month1.$touched && form.month2.$touched && form.year1.$touched && form.year2.$touched) && !datesCustomValid}"></div>
							</div>
							<span class="errorText" ng-show="(form.month1.$touched && form.month2.$touched && form.year1.$touched && form.year2.$touched) && !datesCustomValid">
								<span ng-show="form.month1.$error.required || form.months2.$error.required">Months are required.</span>
								<span ng-show="form.year1.$error.required || form.year2.$error.required">Years are required.</span>
								<span ng-show="!datesCustomValid">Enter two dates, the first before the second, between 5 years in the past and now (the second date can be up to 1 year in the future, for future projection)</span>
							</span>
						</div>
					</div>

					<!--Allows user to select which specific repetitions to display-->
					<div class="threeColumn">
					<label for="reptitions">Included repetitions</label><br>
						<div class="inputWrapperBig">
							<select white big id = "repNumbers" name = "repNumbers" ng-model = "selectedRep" required ng-options = "x for x in repOptions"></select>
							<div class="invalidContainer" ng-class="{'invalid':form.repNumbers.$touched && form.repNumbers.$invalid}"></div>
						</div>
						<span class="errorText" ng-show="form.repNumbers.$touched && form.repNumbers.$invalid">Repetitions are required.</span>
					</div>
				</div><br>

				<!--Button to generate chart and submit all data-->
				<button big type="submit" ng-click="generateChart()">Generate Chart</button>
			</form>
			</div>

			<!--Error message in case no data is retrieved-->
			<span ng-class="{'errorText':formStatus == 0, 'successText':formStatus == 1}">{{formStatusText}}</span>
			<br><br>

			
			<div ng-class="{'logoOff':!logoDisplay, 'logoOn':logoDisplay}">
				<img id = "logo" src = "img/gideon-logo.jpg" height = "60" width = "160" ng-hide="errorMessage">
				<button id = "invisibleButton" ng-click="expanded=!expanded">(show/hide form)</button>
			</div>

			<!--HTML element for the generated chart-->
			<div class = "exterior" id = "chartspecs">
				<canvas id = "lineChart" ng-hide="errorMessage"></canvas>
			</div>
		</div>
	</body>
</html>