/*Size specifications for the chart*/
canvas {
	height: 400px;
	width: 8000px;
}

body {
	background: linear-gradient(to bottom, #FFD700, #FFA500 50%, #FFA500 100%) no-repeat bottom;
	background-size: 100%;
	height: 2000px;
}

select, button {
	width: 100%;
	padding: 12px 20px;
    margin: 8px 0;
}

#timeText {
	margin-top: 16px;
}

#lineChart {
	
}

.chartspecs {
	width: 100%;
	margin: 0px;
	padding: 20px;
}

#logo {
	margin-left: 3%;
	margin-top: 1%;
	margin-bottom: 0;
	animation-duration: 0s;
}

#logoDiv {
	display: none;
}