/*General CSS*/
body {
	background: linear-gradient(to bottom, #FFD700, #FFA500 50%, #FFA500 100%) no-repeat bottom;
	background-size: 100%;
}

.exterior {
	width: 100%;
	margin: 0px;
	padding: 20px;
}

.expandedContent {
	height: 400px;
	margin: 0px;
}

.collapsedContent {
	margin: 0px;
}

h1 {
	margin-bottom: 0px;
}

select[white], input[white], .invalidContainer {
    margin: 0;
}

input[type="number"] {
	width: 80px;
}


/*Chart specifications*/
canvas {
	height: 400px;
	width: 8000px;
}

#chartspecs {
	margin-left: auto;
	margin-right: auto;
}


/*Logo-Button CSS, including positioning and hover tint*/
#logo {
	max-width: 160px;
	max-height: 80px;
	width: auto;
	height: auto;
}

.logoOff {
	display: none;
}
.logoOn {
	display: inline-block;
}

#logoContainer {
	position: relative;
	cursor: pointer;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15), 3px 3px 10px rgba(0, 0, 0, 0.1);
}
#logoTint {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: none;
	transition-duration: .4s;
}
#logoTint:hover {
	background: rgba(0, 0, 0, 0.1);
}

#logoContainer:focus {
	outline: none;
}