<!DOCTYPE html>
<html>
	<head>
		<title>Line Chart</title>

		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
		<script src="momentbymonth.js"></script>
		<script src="verify.js"></script>
		<script src="gideonApp.js"></script>
		<script src="chartCtrl.js"></script>
		<script src="ripple.js"></script>

		<link rel="manifest" href="/site.webmanifest">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="SiteStyle.css">
		<link rel="stylesheet" type="text/css" href="LineChart.css">
	</head>
	<body>
		<!--Containing essentially a form for selected chart specifications-->
		<div class="exterior" ng-app="gideonApp" ng-controller="chartCtrl">
			<div id="expandableContainer" ng-class="{'collapsedContent':!expanded, 'expandedContent':expanded}">
				<button invis class="hoverable" id="backButton" onclick="location.href='StudentList.html'">Back to Student List</button>
				<form name="form">
				<h1>Progress Chart for {{studentName}}</h1>
				<br>
				<div class="columnContainer">
					<!--Allows user to select specific category to graph based on what student has-->
					<div class="threeColumn">
					<label for="category">Category</label><br>
						<div class="inputWrapperBig">
							<select white big id="category" name="category" ng-model="selectedCategory" required ng-options="y disable when y.startsWith('No data') for y in categoriesOfStudent" ng-change="didUpdateCategory()"></select>
							<div class="invalidContainer" ng-class="{'invalid':form.category.$touched && form.category.$invalid}"></div>
						</div>
						<span class="errorText" ng-show="form.category.$touched && form.category.$invalid">Category is required.</span>
						<br>
					</div>
				
					<!--Allows user to select month specificatons for the graph up to 5 years ago-->
					<div class="threeColumn">
 					<label for="months">Time Range</label><br>
						<div class="inputWrapperBig">
							<input white type="number" id="months" name="months" value="12" ng-model="months" min="1" max="60" required>
							months ago to
							<input white type="number" id="months2" name="months2" value="12" ng-model="months2" min="0" max="{{months-1}}" required>
							months ago
							<div ng-show="months2==0">
								Project into the future by: 
								<input white type="number" id="monthsF" name="monthsF" value="12" ng-model="monthsF" max="12"> months
							</div>
							<div class="invalidContainer" ng-class="{'invalid':form.months.$touched && form.months2.$touched && (form.months.$invalid || form.months2.$invalid || form.monthsF.$invalid)}"></div>
						</div>
						<br><br>
						<span class="errorText" ng-show="form.months.$touched && form.months2.$touched && (form.months.$error.required || form.months2.$error.required)">Months are required.</span>
						<span class="errorText" ng-show="form.months.$touched && form.months2.$touched && (form.months.$error.number || form.months2.$error.number || form.monthsF.$error.number)">Month values must be numbers.</span>
						<span class="errorText" ng-show="form.months.$touched && form.months2.$touched && (form.months.$error.min || form.months.$error.max || form.months2.$error.min || form.months2.$error.max)">Month values must be between 0 and 60, and the second value must be earlier than the first.</span>
						<span class="errorText" ng-show="form.months.$touched && form.months2.$touched && form.monthsF.$error.max">You can only project the graph one year into the future.</span>
 					</div>

					<!--Allows user to select which specific repetitions to display-->
					<div class="threeColumn">
					<label for="reptitions">Included repetitions</label><br>
						<div class="inputWrapperBig">
							<select white big id="repNumbers" name="repNumbers" ng-model="selectedRep" required ng-options="x disable when x.startsWith('Select') for x in repOptions"></select>
							<div class="invalidContainer" ng-class="{'invalid':form.repNumbers.$touched && form.repNumbers.$invalid}"></div>
						</div>
						<span class="errorText" ng-show="form.repNumbers.$touched && form.repNumbers.$invalid">Repetitions are required.</span>
						<br>
					</div>
				</div><br>

				<!--Button to generate chart and submit all data-->
				<button big type="submit" ng-click="generateChart()">Generate Chart</button>
				</form>
			</div>

			<!--Error message in case no data is retrieved-->
			<span ng-class="{'errorText':formStatus.id == 0, 'successText':formStatus.id == 1}">{{formStatus.text}}</span>
			<br>			

			
			<div id="logoContainer" ng-class="{'logoOff':!logoDisplay, 'logoOn':logoDisplay}" ng-show="formStatus.id == 1" ng-click="expanded=!expanded">
				<img id="logo" src="img/gideon-logo-white.png" alt="show/hide form">
				<div id="logoTint"></div>
			</div>

			<!--HTML element for the generated chart-->
			<div id="chartspecs" ng-show="formStatus.id == 1">
				<canvas id="lineChart" ng-hide="errorMessage"></canvas>
			</div>
		</div>

		<div id="footer" style="margin-bottom:250px">&nbsp;</div>
	</body>
</html>