/*CONTENT CSS*/
body {
	background: linear-gradient(to right, #FFD700, #FFA500);
	background-size: 100%;
	height: auto;
	color: white;
}
#header {
	padding: 20px;
}

/*TABLE CSS*/
#tableContent {
	width: 80%;
	left: 10%;
	position: relative;
	border-bottom: 1px solid black;
	border-collapse: collapse;
}
#tableHeaderContainer, #tableContainer {
	padding: 15px 10px;
	text-align: center;
	transition: 0.5s;
}
#tableHeaderContainer {
	background-color: black;
}
#tableContainer {
	cursor: pointer;
	animation-duration: 0s;
}
#tableContainer:hover {
	background-color: #FFA500;
}
#tableContainer:focus {
	outline: none;
}

.expandedContent {
	height: 180px;
}


/*BUTTON CSS*/
#insertBtn, #updateBtn, #studentBtn {
	width: 200px;
}
#insertBtn, #updateBtn {
	float: right;
}
#studentBtn {
	float: left;
}
#dataToggleBtn {
	position: relative;
	left:30%;
	width:40%;
}
#accordionButton {
	width: 200px;
	animation-duration: 0s;
	float: left;
}


/*FILTER CSS*/
#filterContainer {
	margin: auto;
	width: 50%;
}
#filterText {
	text-align: center;
}

input[black] {
	position: relative;
	padding: 4px 4px;
	left: 20%;
	width: 60%;
	text-align: center;
}