.columnContainer {
	overflow: hidden;
}

.twoColumn {
	float: left;
	width: 50%;
}

.threeColumn {
	float: left;
	width: 33.33%;
}

.fourColumn {
	float: left;
	width: 25%;
}

.threeColumn, .fourColumn {
	padding: 10px;
}