<!DOCTYPE html>
<html>
	<head>
		<title>Record List</title>

		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  		<script src="gideonApp.js"></script>
  		<script src="recordListCtrl.js"></script>
		<script src="ripple.js"></script>

		<link rel="manifest" href="/site.webmanifest">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" type="text/css" href="SiteStyle.css">
		<link rel="stylesheet" type="text/css" href="ListStyle.css">
	</head>
	<body>
		<!--Selection buttons in the header to move to insert and update pages-->
		<div id = "header">
			<button type = "button" class = "hoverable" id = "listBtn"   onclick = "location.href='StudentList.html'">Student List</button>
			<button type = "button" class = "hoverable" id = "insertBtn" onclick = "location.href='InsertRecord.html'">Insert Record</button>
		</div>
		<br/>

		<!--List for displaying all students in the database that have book data-->
		<div ng-app = "gideonApp" ng-controller = "recordListCtrl">
			<h1>List of Records</h1>

			<!--Filter select blocks-->
			<div class = "columnContainer" id = "filterContainer">
				<div class="column" style="width:25%">
					<label>Student</label>
					<select black big ng-model="studentFilter" ng-options="s for s in students" ng-change="didFilter()"></select>
				</div>
				<div class="column" style="width:25%">
					<label>Category</label>
					<select black big ng-model="categoryFilter" ng-options="c for c in categories" ng-change="didFilter()"></select>
				</div>
				<div class="column" style="width:25%">
					<label>Rep</label>
					<select black big ng-model="repFilter" ng-options="r for r in [wildcard, 1, 2, 3, 4, 5]" ng-change="didFilter()"></select>
				</div>
			</div>
			<br><br>

			<!--Header of table-->
			<div id="tableContent">
				<div class="columnContainer" id="tableHeaderContainer">
					<div class="column" style="width:30%">Student</div>
					<div class="column" style="width:40%">Book</div>
					<div class="column" style="width:30%">Date</div>
				</div>
			</div>

			<!--Main content of table-->
			<div id="tableContent" ng-repeat="record in records">	
				<!--Meant to display the "Loading" block while the html properly updates-->
				<div class="columnContainer" id="tableContainer" ng-show="record.bookTitle=='Loading'">
					<div class="column" style="width:100%">{{record.bookTitle}}</div>
				</div>
				<!--Primary information for a student in the list, done in columns-->
				<div class="columnContainer" id="tableContainer" ng-hide="record.bookTitle=='Loading'" ng-click="manageExpansion(record.recordId)">
					<div class="column" style="width:30%">{{record.name}}&nbsp;</div>
					<div class="column" style="width:40%">{{record.bookTitle}}&nbsp;</div>
					<div class="column" style="width:30%">{{record.startDateDisplay}}&nbsp;</div>
				</div>
				<!--Additional information and buttons hidden in an accordion-->
				<div id="expandableContainer" ng-class="{'collapsedContent':record.recordId!=expandedRecordId, 'expandedContent':record.recordId==expandedRecordId}">
					<div class="columnContainer">
						<div class="column" style="width:50%">
							ID: {{record.recordId}}<br>
							Category: {{record.category}}<br>
							Subcategory: {{record.subcategory}}<br>
							Rep: {{record.rep}}<br>
						</div>
						<div class="column" style="width:50%">
							End Date: {{record.endDateDisplay}}<br>
							Test Time: {{record.testTime}}<br>
							Mistakes: {{record.mistakes}}<br><br>
							<button type = "button" class = "hoverable" id = "accordionButton" ng-click = "editRecordButton(record)">Edit Record</button>
							<br><br><br>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--Footer exists to make selecting the last student on the list way less annoying-->
		<div id = "footer">&nbsp;</div>
	</body>
</html>