<!DOCTYPE html>
<html>
	<head>
		<title>Record List</title>

		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
  		<script src="gideonApp.js"></script>
  		<script src="recordListCtrl.js"></script>
		<!--script src="ripple.js"></script-->

		<link rel="manifest" href="/site.webmanifest">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="SiteStyle.css">
		<link rel="stylesheet" type="text/css" href="ListStyle.css">
	</head>
	<body ng-app="gideonApp">
		<div ng-controller="header">
			<div ng-include="'Header.html'"></div>
		</div>
		
		<div ng-controller="recordListCtrl">
		<!--Selection buttons in the header to move to insert and update pages-->
			<div id="header">
				<md-button class="md-accent md-raised" id="listBtn" onclick="location.href='StudentList.html'">Student List</md-button>
				<md-button class="md-accent md-raised" id="insertBtn" ng-click="insertRecordButton()">Insert Record</md-button>
			</div>
			<br/>

		<!--List for displaying all students in the database that have book data-->
			<h1>List of Records</h1>

			<!--Filter select blocks-->
			<div class="columnContainer" id="filterContainer">
				<md-input-container class="column" style="width:100%">
					<label>Student</label>
					<md-select ng-model="studentFilter" ng-change="didSelectStudent()">
						<md-option ng-repeat="s in students" value="{{s.id}}">{{s.name}}</md-option>
					</md-select>
				</md-input-container>
			</div><br>
			<div class="columnContainer" id="filterContainer">
				<md-input-container class="column" style="width:33%">
					<label>Category</label>
					<md-select ng-model="categoryFilter.value" ng-change="didFilter()">
						<md-option ng-repeat="c in categories" value="{{c}}">{{c}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container class="column" style="width:34%">
					<label>Rep</label>
					<md-select ng-model="repFilter.value" ng-change="didFilter()">
						<md-option ng-repeat="r in reps" value={{r}}>{{r}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container class="column" style="width:33%">
					<label>Status</label>
					<md-select ng-model="endDateFilter.value" ng-change="didFilter()">
						<md-option ng-repeat="s in statuses" value="{{s}}">{{s}}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<br><br>

			<!--Header of table-->
			<div id="tableContent">
				<div class="columnContainer" id="tableHeaderContainer">
					<div class="column" style="width:30%">Student</div>
					<div class="column" style="width:40%">Book</div>
					<div class="column" style="width:30%">Date</div>
				</div>
			</div>

			<!--Main content of table-->
			<div id="tableContent" ng-repeat="record in records">	
				<!--Meant to display the "Loading" block while the html properly updates-->
				<div class="columnContainer" id="tableContainer" ng-show="record.bookTitle=='Loading'">
					<div class="column" style="width:100%">{{record.bookTitle}}</div>
				</div>
				<!--Primary information for a student in the list, done in columns-->
				<div class="columnContainer" md-ink-ripple="#000000" id="tableContainer" ng-hide="record.bookTitle=='Loading'" ng-click="manageExpansion(record.recordId)">
					<div class="column" style="width:30%">{{record.name}}&nbsp;</div>
					<div class="column" style="width:40%">{{record.displayTitle}}&nbsp;</div>
					<div class="column" style="width:30%">{{record.startDateDisplay}}&nbsp;</div>
				</div>
				<!--Additional information and buttons hidden in an accordion-->
				<div id="expandableContainer" ng-class="{'collapsedContent':record.recordId!=expandedRecordId, 'expandedContent':record.recordId==expandedRecordId}">
					<div class="columnContainer">
						<div class="column" style="width:50%">
							Category: {{record.category}}<br>
							Subcategory: {{record.subcategory}}<br>
							Rep: {{record.rep}}<br><br>
						</div>
						<div class="column" style="width:50%">
							End Date: {{record.endDateDisplay}}<br>
							Test Time: {{record.testTime}}<br>
							Mistakes: {{record.mistakes}}<br><br>
						</div>
					</div>
					<md-button class="md-accent md-raised" id="accordionButton" ng-click="progressChartButton(record)">Progress Chart</md-button>
					<md-button class="md-accent md-raised" id="accordionButton" ng-click="editRecordButton(record)">Edit Record</md-button>
				</div>
			</div>
		</div>

		<!--Footer exists to make selecting the last record on the list way less annoying-->
		<div id="footer">&nbsp;</div>
	</body>
</html>