body {
    background: linear-gradient(to bottom, #FFD700, #FFA500) no-repeat bottom;
	background-size: 100%;
	height: 1000px;
}

.exterior {
    padding: 20px;
}

input[type=text], select, input[type=date], #clientSelect {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

#clientSelect, button {
    width: 100%;
}


/*Used for the insertRecord sheet to space out number inputs at the bottom*/
#mistakes, #testTime {
	margin-left: 1%;
}

/*Used to decrease padding between rows in editStudent*/
#editStudentRow {
    padding: 0px;
}

