body {
    background: linear-gradient(to bottom, #FFD700, #FFA500) no-repeat bottom;
	background-size: 100%;
	height: 1000px;
}

.exterior {
    padding: 20px;
}

#deleteButton {
    float: right;
}


/*Used for the insertRecord sheet to space out number inputs at the bottom*/
#rep, #mistakes, #testTime {
    float: left;
    width: auto;
    margin-right: 20px;
}

/*Used to decrease padding between rows in edit pages*/
#editRow {
    padding: 0px;
}
#editSingleRow {
	padding: 0px 20px;
}