<!DOCTYPE html>
<html>
	<head>
		<title>Student List</title>
		<link rel = "stylesheet" type = "text/css" href="ListStyle.css">	
		<link rel = "stylesheet" type = "text/css" href="multiColumn.css">

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		
		<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
		<script src = "app.js"></script>
	</head>
	<body>
		<!--Selection buttons in the header to move to insert and update pages-->
		<div id = "header">
			<button type = "button" class = "hoverable" id = "studentBtn" onclick = "location.href='InsertStudent.html'">Insert Student</button>
			<button type = "button" class = "hoverable" id = "updateBtn" onclick = "location.href='UpdateRecord.html'">Update Record</button>
			<button type = "button" class = "hoverable" id = "insertBtn" onclick = "location.href='InsertRecord.html'">Insert Record</button>
		</div>
		<br/>
		<!--List for displaying all students in the database that have book data-->
		<div ng-app="studentApp" ng-controller = "studentCtrl">
			<h1>List of Students</h1>
			<!--Filter text blocks-->
			<div class = "columnContainer" id = "filterContainer">
				<div class = "twoColumn">
					<p id = "filterText">Filter by Name: </p>
					<input id = "textFilter" name = "textFilter" type = "text" ng-model="clientFilter">
				</div>
				<div class = "twoColumn">
					<p id = "filterText">Filter by Email: </p>
					<input id = "textFilter" name = "textFilter" type = "text" ng-model="emailFilter">
				</div>
			</div>

			<br>
			<br>
			<button type = "button" class = "hoverable" id = "dataToggleBtn" ng-click = "toggleData()">{{toggleButtonText}}</button>
			<br>
			<br>
			<div class = "tbl-header">
				<table>
					<thead>
						<tr>
							<th width = "20%">Name</th>
							<th width = "50%">Email</th>
							<th width = "10%">Grade</th>
					</thead>
				</table>
			</div>
			<div class = "tbl-content">
				<tbody>
					<table>
						<tr ng-repeat = "student in students | filter: {client: clientFilter, email: emailFilter}" ng-click = "logStudent(student.studentId, student.client)">
							<td width = "20%">{{student.client}} (ID: {{student.studentId}})</td>
							<td width = "50%">{{student.email}}</td>
							<td width = "10%">{{student.grade}}</td>
						</tr>
					</table>
				</tbody>
			</div>
		</div>
	</body>
</html>