<!DOCTYPE html>
<html>
	<head>
		<title>Student List</title>
		<link rel = "stylesheet" type = "text/css" href="siteStyle.css">
		<link rel = "stylesheet" type = "text/css" href="ListStyle.css">	
		<script src = "ripple.js"></script>

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		
		<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
		<script src = "app.js"></script>
	</head>
	<body>
		<!--Selection buttons in the header to move to insert and update pages-->
		<div id = "header">
			<button type = "button" class = "hoverable" id = "studentBtn" onclick = "location.href='InsertStudent.html'">Insert Student</button>
			<button type = "button" class = "hoverable" id = "updateBtn" onclick = "location.href='UpdateRecord.html'">Update Record</button>
			<button type = "button" class = "hoverable" id = "insertBtn" onclick = "location.href='InsertRecord.html'">Insert Record</button>
		</div>
		<br/>
		<!--List for displaying all students in the database that have book data-->
		<div ng-app="studentApp" ng-controller = "studentCtrl">
			<h1>List of Students</h1>
			<!--Filter text blocks-->
			<div class = "columnContainer" id = "filterContainer">
				<div class = "twoColumn">
					<p id = "filterText">Filter by Name: </p>
					<input id = "textFilter" name = "textFilter" type = "text" ng-model="clientFilter">
				</div>
				<div class = "twoColumn">
					<p id = "filterText">Filter by Email: </p>
					<input id = "textFilter" name = "textFilter" type = "text" ng-model="emailFilter">
				</div>
			</div>

			<br>
			<br>
			<button type = "button" class = "hoverable" id = "dataToggleBtn" ng-click = "toggleData()">
				{{toggleButtonText}}
				<!--<div id = "rippleContainer">
					<span id = "rippleCircle"></span>
				</div>-->
			</button>
			<br>
			<br>
			<div id="tableContent">
				<div class="columnContainer" id="tableHeaderContainer">
					<div class="column" style="width:30%">Name</div>
					<div class="column" style="width:57.5%">Email</div>
					<div class="column" style="width:12.5%">Grade</div>
				</div>
			</div>
			<div id="tableContent" ng-repeat="student in students | filter: {client: clientFilter, email: emailFilter}">	
				<div class="columnContainer" id="tableContainer" ng-click="manageExpansion(student)">
					<div class="column" style="width:30%">{{student.client}}&nbsp;</div>
					<div class="column" style="width:57.5%">{{student.email}}&nbsp;</div>
					<div class="column" style="width:12.5%">{{student.grade.split(" ")[0]}}&nbsp;</div>
				</div>
				<div id="expandableContainer" ng-class="{'collapsedContent':student!=expandedStudent, 'expandedContent':student==expandedStudent}">
					ID: {{student.studentId}}<br>
					Gender: {{student.gender}}<br>
					Address: {{student.address}}<br>
					Phone: {{student.phone}}<br>
					Current Passes: {{student.currentPasses}}<br><br>
					<button type = "button" class = "hoverable" id = "accordionButton" ng-click = "logStudent(student.studentId, student.client)">Line Chart</button>
					<button type = "button" class = "hoverable" id = "accordionButton" ng-click = "editStudent(student.studentId, student.client)">Edit Student</button>
				</div>
			</div>
		</div>
	</body>
</html>

<!--logStudent(student.studentId, student.client)-->