<!DOCTYPE html>
<html>
	<head>
		<title>Student List</title>

		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
  		<script src="gideonApp.js"></script>
  		<script src="listCtrl.js"></script>
		<!--script src="ripple.js"></script-->

		<link rel="manifest" href="/site.webmanifest">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="SiteStyle.css">
		<link rel="stylesheet" type="text/css" href="ListStyle.css">
	</head>
	<body ng-app="gideonApp">
		<div ng-controller="header">
			<div ng-include="'Header.html'"></div>
		</div>
		
		<!--List for displaying all students in the database that have book data-->
		<div ng-controller="listCtrl">
			<!--Selection buttons in the header to move to insert and update pages-->
			<div id="header">
				<md-button class="md-accent md-raised" id="listBtn"   onclick="location.href='RecordList.html'">Record List</md-button>
				<md-button class="md-accent md-raised" id="insertBtn" onclick="location.href='InsertStudent.html'">Insert Student</md-button>
			</div>
			<br/>

			<h1>List of Students</h1>

			<!--Filter text blocks-->
			<div class="columnContainer" id="filterContainer">
				<md-input-container class="column" style="width:50%">
					<label>Filter by Name: </label>
					<input md-select-on-focus id="textFilter" name="textFilter" type="text" ng-model="clientFilter">
				</md-input-container>
				<md-input-container class="column" style="width:50%">
					<label>Filter by Email: </label>
					<input md-select-on-focus id="textFilter" name="textFilter" type="text" ng-model="emailFilter">
				</md-input-container>
			</div>

			<!--Toggle for viewing only students with data, meant for testing-->
			<div>
				<h3>Display Only Students With Records</h3>
				<md-switch class="md-primary" ng-model="dataSwitch" aria-label="Display Only Students with Records" ng-change="toggleData()"></md-switch>
			</div>
			<br><br>

			<!--Header of table-->
			<div id="tableContent">
				<div class="columnContainer" id="tableHeaderContainer">
					<div class="column" ng-click="getSortBy('name')" style="width:30%">Name</div>
					<div class="column" ng-click="getSortBy('email')" style="width:57.5%">Email</div>
					<div class="column" ng-click="getSortBy('grade')" style="width:12.5%">Grade</div>
				</div>
			</div>
			<!--Main content of table-->
			<div id="tableContent" ng-repeat="student in students | filter: {client: clientFilter, email: emailFilter}">	
				<!--Meant to display the "Loading" block while the html properly updates-->
				<div class="columnContainer" id="tableContainer" ng-show="student.client=='Loading'">
					<div class="column" style="width:100%">{{student.client}}</div>
				</div>
				<!--Primary information for a student in the list, done in columns-->
				<div class="columnContainer" md-ink-ripple="#000000" id="tableContainer" ng-hide="student.client=='Loading'" ng-click="manageExpansion(student.studentId)">
					<div class="column" style="width:30%">{{student.client}}&nbsp;</div>
					<div class="column" style="width:57.5%">{{student.email}}&nbsp;</div>
					<div class="column" style="width:12.5%">{{student.grade.split(" ")[0]}}&nbsp;</div>
				</div>
				<!--Additional information and buttons hidden in an accordion-->
				<div id="expandableContainer" ng-class="{'collapsedContent':student.studentId!=expandedStudentId, 'expandedContent':student.studentId==expandedStudentId}">
					Gender: {{student.gender}}<br>
					Address: {{student.address}}<br>
					Phone: {{student.phone}}<br>
					Current Passes: {{student.currentPasses}}<br><br>
					<md-button class="md-accent md-raised" id="accordionButton" ng-click="editStudentButton(student)">Edit Student</md-button>
					<md-button class="md-accent md-raised" id="accordionButton" ng-click="lineChartButton(student)" ng-show="studentIdsWithData.has(student.studentId)">Progress Chart</md-button>
					<md-button class="md-accent md-raised" id="accordionButton" ng-click="preloadRecordsList(student)" ng-show="studentIdsWithData.has(student.studentId)">Record List</md-button>
				</div>
			</div>
		</div>

		<!--Footer exists to make selecting the last student on the list way less annoying-->
		<div id="footer">&nbsp;</div>
	</body>
</html>